cachetools==5.0.0
certifi==2021.10.8        
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cssselect==1.1.0
cssutils==2.4.0
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
lxml==4.8.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
premailer==3.10.0
pycodestyle==2.8.0
pywin32-ctypes==0.2.0
requests==2.27.1
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
Yag==1.0.0
yagmail==0.15.277
zipp==3.7.0